<!doctype html>
<html lang="en">

<head>
	<link rel='stylesheet' href='/styles/style.css' />
	<meta charset="utf-8" />
	<title>PokemonGrab</title>
</head>

<body>
	<h1>Pokemon</h1> Profile: <%- currentProfile -%>

    <p>Below is all the pokemon you have caught.</p>
	<%- htmlstr -%>
   
	<hr>
    <a href="/">Switch Profile</a> 
    <a href="/menu">Menu</a> 
    <a href="/wild">Wild</a> 
</body>

</html>