html {
    font-size:1rem;
    background-color: rgb(235, 64, 64);
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: rgb(167, 175, 168);
    margin: 3rem, 2rem;
    
    justify-content: center;
    align-items: center;

}

h1 {
    text-decoration: underline;
    font-weight: bold; 
    font-size: 5rem;
    
}

input{
    box-shadow: 10px 5px 7px silver;
    font-size: 2rem;

    height:6rem;
    width:18rem;
        
    
}

